<!DOCTYPE html>

<title>Edit JobCategory</title>

{% block body %}
    <h1>Edit JobCategory</h1>

    {{ include('job_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_category_index') }}">back to list</a>

    {{ include('job_category/_delete_form.html.twig') }}
{% endblock %}
