<!DOCTYPE html>

<title>JobCategory index</title>

{% block body %}
    <h1>JobCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_category in job_categories %}
            <tr>
                <td>{{ job_category.id }}</td>
                <td>{{ job_category.name }}</td>
                <td>{{ job_category.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('job_category_show', {'id': job_category.id}) }}">show</a>
                    <a href="{{ path('job_category_edit', {'id': job_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_category_new') }}">Create new</a>
{% endblock %}
