<!DOCTYPE html>

<title>New JobCategory</title>

{% block body %}
    <h1>Create new JobCategory</h1>

    {{ include('job_category/_form.html.twig') }}

    <a href="{{ path('job_category_index') }}">back to list</a>
{% endblock %}
