<!DOCTYPE html>

<title>JobCategory</title>

{% block body %}
    <h1>JobCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ job_category.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ job_category.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_category_index') }}">back to list</a>

    <a href="{{ path('job_category_edit', {'id': job_category.id}) }}">edit</a>

    {{ include('job_category/_delete_form.html.twig') }}
{% endblock %}
