<form method="post" action="{{ path('job_alert_user_delete', {'id': job_alert_user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_alert_user.id) }}">
    <button class="btn">Delete</button>
</form>
