<!DOCTYPE html>

<title>Edit JobAlertUser</title>

{% block body %}
    <h1>Edit JobAlertUser</h1>

    {{ include('job_alert_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job_alert_user_index') }}">back to list</a>

    {{ include('job_alert_user/_delete_form.html.twig') }}
{% endblock %}
