<!DOCTYPE html>

<title>JobAlertUser index</title>

{% block body %}
    <h1>JobAlertUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keywords</th>
                <th>FullName</th>
                <th>Email</th>
                <th>NameOfAlertedJob</th>
                <th>Location</th>
                <th>WorkExperience</th>
                <th>ExpectedSlary</th>
                <th>Label</th>
                <th>Industry</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_alert_user in job_alert_users %}
            <tr>
                <td>{{ job_alert_user.id }}</td>
                <td>{{ job_alert_user.keywords }}</td>
                <td>{{ job_alert_user.fullName }}</td>
                <td>{{ job_alert_user.email }}</td>
                <td>{{ job_alert_user.NameOfAlertedJob }}</td>
                <td>{{ job_alert_user.location }}</td>
                <td>{{ job_alert_user.workExperience }}</td>
                <td>{{ job_alert_user.expectedSlary }}</td>
                <td>{{ job_alert_user.label }}</td>
                <td>{{ job_alert_user.industry }}</td>
                <td>{{ job_alert_user.role }}</td>
                <td>
                    <a href="{{ path('job_alert_user_show', {'id': job_alert_user.id}) }}">show</a>
                    <a href="{{ path('job_alert_user_edit', {'id': job_alert_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ contenttype}}


    <a href="{{ path('job_alert_user_new') }}">Create new</a>
{% endblock %}
