<!DOCTYPE html>

<title>New JobAlertUser</title>

{% block body %}
    <h1>Create new JobAlertUser</h1>

    {{ include('job_alert_user/_form.html.twig') }}

    <a href="{{ path('job_alert_user_index') }}">back to list</a>
{% endblock %}
