<!DOCTYPE html>

<title>JobAlertUser</title>

{% block body %}
    <h1>JobAlertUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_alert_user.id }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ job_alert_user.keywords }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ job_alert_user.fullName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ job_alert_user.email }}</td>
            </tr>
            <tr>
                <th>NameOfAlertedJob</th>
                <td>{{ job_alert_user.NameOfAlertedJob }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ job_alert_user.location }}</td>
            </tr>
            <tr>
                <th>WorkExperience</th>
                <td>{{ job_alert_user.workExperience }}</td>
            </tr>
            <tr>
                <th>ExpectedSlary</th>
                <td>{{ job_alert_user.expectedSlary }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ job_alert_user.label }}</td>
            </tr>
            <tr>
                <th>Industry</th>
                <td>{{ job_alert_user.industry }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ job_alert_user.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_alert_user_index') }}">back to list</a>

    <a href="{{ path('job_alert_user_edit', {'id': job_alert_user.id}) }}">edit</a>

    {{ include('job_alert_user/_delete_form.html.twig') }}
{% endblock %}
