<!DOCTYPE html>

<title>Edit Jobs</title>

{% block body %}
    <h1>Edit Jobs</h1>

    {{ include('jobs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jobs_index') }}">back to list</a>

    {{ include('jobs/_delete_form.html.twig') }}
{% endblock %}
