<!DOCTYPE html>

<title>Jobs index</title>

{% block body %}
    <h1>Jobs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>JobTitle</th>
                <th>JobDercription</th>
                <th>JobResponsiblities</th>
                <th>JobStatus</th>
                <th>LiveAt</th>
                <th>EndAt</th>
                <th>CreateAt</th>
                <th>UpdateAt</th>
                <th>CompanyId</th>
                <th>JobLocation</th>
                <th>SkillQualificationRequiment</th>
                <th>Education</th>
                <th>BenefitFacilities</th>
                <th>ExperienceLavel</th>
                <th>SalaryRange</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.jobTitle }}</td>
                <td>{{ job.jobDercription }}</td>
                <td>{{ job.jobResponsiblities }}</td>
                <td>{{ job.jobStatus }}</td>
                <td>{{ job.liveAt ? job.liveAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.endAt ? job.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.createAt ? job.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.updateAt ? job.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job.companyId }}</td>
                <td>{{ job.jobLocation }}</td>
                <td>{{ job.skillQualificationRequiment }}</td>
                <td>{{ job.Education }}</td>
                <td>{{ job.benefitFacilities }}</td>
                <td>{{ job.experienceLavel }}</td>
                <td>{{ job.salaryRange }}</td>
                <td>
                    <a href="{{ path('jobs_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('jobs_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('jobs_new') }}">Create new</a>
{% endblock %}
