<!DOCTYPE html>

<title>New Jobs</title>

{% block body %}
    <h1>Create new Jobs</h1>

    {{ include('jobs/_form.html.twig') }}

    <a href="{{ path('jobs_index') }}">back to list</a>
{% endblock %}
