<!DOCTYPE html>

<title>Jobs</title>

{% block body %}
    <h1>Jobs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>JobTitle</th>
                <td>{{ job.jobTitle }}</td>
            </tr>
            <tr>
                <th>JobDercription</th>
                <td>{{ job.jobDercription }}</td>
            </tr>
            <tr>
                <th>JobResponsiblities</th>
                <td>{{ job.jobResponsiblities }}</td>
            </tr>
            <tr>
                <th>JobStatus</th>
                <td>{{ job.jobStatus }}</td>
            </tr>
            <tr>
                <th>LiveAt</th>
                <td>{{ job.liveAt ? job.liveAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ job.endAt ? job.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ job.createAt ? job.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ job.updateAt ? job.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CompanyId</th>
                <td>{{ job.companyId }}</td>
            </tr>
            <tr>
                <th>JobLocation</th>
                <td>{{ job.jobLocation }}</td>
            </tr>
            <tr>
                <th>SkillQualificationRequiment</th>
                <td>{{ job.skillQualificationRequiment }}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{ job.Education }}</td>
            </tr>
            <tr>
                <th>BenefitFacilities</th>
                <td>{{ job.benefitFacilities }}</td>
            </tr>
            <tr>
                <th>ExperienceLavel</th>
                <td>{{ job.experienceLavel }}</td>
            </tr>
            <tr>
                <th>SalaryRange</th>
                <td>{{ job.salaryRange }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jobs_index') }}">back to list</a>

    <a href="{{ path('jobs_edit', {'id': job.id}) }}">edit</a>

    {{ include('jobs/_delete_form.html.twig') }}
{% endblock %}
